<table class="addniceborder" align="center">
	<tr>
		<td class="tdpadding"><p class="para justify">{TEXT_RESCACHE_NOTE}</p></td>
	</tr>
</table>
<p></p>
{ERROR}
<table width="100%" border="0" align="center">
	<tr>
		<td width="10" nowrap valign="top"><table border="0" class="menu">
				<caption>
				{TEXT_NAVIGATION}
				</caption>
				<tr>
					<td nowrap>{MENU;VERTICAL;}</td>
				</tr>
			</table></td>
		<td nowrap valign="top"><form name="form_cachesettings" method="post" action="admin.php?page=resources&resources=rescache">
				<table class="addniceborder" align="center">
					<caption>
					{TEXT_CACHE_RESOURCES}
					</caption>
					<tr>
						<td class="tdpadding"><table border="0" width="100%">
								<tr>
									<th nowrap scope="col">&nbsp;</th>
									<th nowrap scope="col">{TEXT_RESOURCE_NAME}</th>
									<th nowrap scope="col">{TEXT_RESOURCE_CACHEHITS}</th>
									<th nowrap scope="col">{TEXT_RESOURCE_LASTUPDATE}</th>
									<th nowrap scope="col" width="80px">{TEXT_SECONDS}</th>
									<th nowrap scope="col">{TEXT_VENT_CHANNEL_SORTING}</th>
								</tr>
								{RESCACHE_CONTENT}
								<tr>
									<td colspan="6" nowrap><p class="para" align="center">
											<input name="updsetting" type="submit" id="updsetting" value="{TEXT_UPDATE_CACHESETTINGS}">
										</p></td>
								</tr>
							</table></td>
					</tr>
				</table>
			</form>
			<p></p></td>
	</tr>
</table>
<p></p>
