<table border="0" align="center">
	<tr>
		<td nowrap valign="top"><table width="100" border="0" class="menu">
				<tr>
					<td nowrap>{MENU;VERTICAL;}</td>
				</tr>
			</table></td>
		<td nowrap>{ERROR}
			<table class="addniceborder" align="center">
				<caption>
				{TEXT_MANAGE_RESOURCES}
				</caption>
				<tr>
					<td class="tdpadding"><table width="100%">
							<tr>
								<th nowrap scope="col">{TEXT_RESOURCE_NAME}</th>
								<th nowrap scope="col">{TEXT_RESOURCE_DATA}</th>
								<th nowrap scope="col">{TEXT_RESOURCE_TYPE}</th>
								<th scope="col"></th>
								<th scope="col"></th>
							</tr>
							{RESMAN_CONTENT}
						</table>
				</tr>
			</table>
			<p></p></td>
	</tr>
</table>
<p></p>
