<table width="0" align="center" class="addniceborder">
	<tr>
		<td nowrap align="center"><p class="para">{TEXT_ADMIN_WELCOME}</p></td>
	</tr>
</table>
<p></p>
{ERROR}
<table width="100%" border="0" align="center">
	<tr>
		<td width="10" nowrap valign="top"><table border="0" class="menu">
				<caption>
				{TEXT_NAVIGATION}
				</caption>
				<tr>
					<td nowrap>{MENU;VERTICAL;}</td>
				</tr>
			</table></td>
		<td nowrap valign="top"><p>&nbsp;</p></td>
	</tr>
</table>
<p></p>
