<table class="addniceborder" align="center">
	<tr>
		<td class="tdpadding"><p class="para justify">{TEXT_SETTINGS_NOTE_P1}</p>
			<ol>
				<li class="para">{TEXT_SETTINGS_NOTE_L1}</li>
				<li class="para">{TEXT_SETTINGS_NOTE_L2}</li>
				<li class="para">{TEXT_SETTINGS_NOTE_L3}</li>
				<li class="para">{TEXT_SETTINGS_NOTE_L2}</li>
				<li class="para">{TEXT_SETTINGS_NOTE_L4}</li>
			</ol>
			<p class="para justify">{TEXT_SETTINGS_NOTE_P2}</p>
			<p class="para justify">{TEXT_SETTINGS_NOTE_P3}</p></td>
	</tr>
</table>
<p></p>
{ERROR}
<table width="100%" border="0" align="center">
	<tr>
		<td nowrap valign="top" width="10"><table border="0" class="menu">
				<caption>
				{TEXT_NAVIGATION}
				</caption>
				<tr>
					<td nowrap>{MENU;VERTICAL;}</td>
				</tr>
			</table></td>
		<td nowrap valign="top"><form name="settingform" method="post" action="admin.php?page=settings">
				<table width="100%" class="addniceborder" align="center">
					<caption>
					{TEXT_SETTINGS}
					</caption>
					<tr>
						<td class="tdpadding"><table border="0" width="100%">
								{SETTINGS}
								<tr>
									<td colspan="2" nowrap><p class="para" align="center"><br />
											<input name="updsetting" type="submit" id="updsetting" value="{TEXT_UPDATE_SETTINGS}">
										</p></td>
								</tr>
							</table></td>
					</tr>
				</table>
			</form>
			<p></p></td>
	</tr>
</table>
<p></p>
