{ERROR} {DATA_STATUS_BEGIN}
<table class="addniceborder" align="center">
	<tr>
		<td class="tdpadding" nowrap><p class="red">{DATA_STATUS}</p></td>
	</tr>
</table>
<p></p>
{DATA_STATUS_END} {SERVER_INFO_BEGIN}
<table class="addniceborder" align="center">
	<tr>
		<td class="tdpadding"><table border="0" width="100%">
				<caption>
				{TEXT_SERVER_INFO}
				</caption>
				<tr valign="top">
					<td width="30%" nowrap><p class="para">{TEXT_SERVER_NAME}:</p></td>
					<td width="70%"><p class="para">{SERVER_NAME}</p></td>
				</tr>
				<tr valign="top">
					<td nowrap><p class="para">{TEXT_SERVER_PHONETIC}:</p></td>
					<td><p class="para">{SERVER_PHONETIC}</p></td>
				</tr>
				<tr valign="top">
					<td nowrap><p class="para">{TEXT_PLATFORM}:</p></td>
					<td><p class="para">{PLATFORM}</p></td>
				</tr>
				<tr valign="top">
					<td nowrap><p class="para">{TEXT_VERSION}:</p></td>
					<td><p class="para">{VERSION}</p></td>
				</tr>
				<tr valign="top">
					<td nowrap><p class="para">{TEXT_UPTIME}:</p></td>
					<td><p class="para">{UPTIME}</p></td>
				</tr>
				<tr valign="top">
					<td nowrap><p class="para">{TEXT_PASSWORD_PROT}:</p></td>
					<td><p class="para">{PASSWORD_PROT}</p></td>
				</tr>
				<tr valign="top">
					<td nowrap><p class="para">{TEXT_UDPPORT}:</p></td>
					<td><p class="para">{UDPPORT}</p></td>
				</tr>
				<tr valign="top">
					<td nowrap><p class="para">{TEXT_MAXCLIENTS}:</p></td>
					<td><p class="para">{MAXCLIENTS}</p></td>
				</tr>
				<tr valign="top">
					<td nowrap><p class="para">{TEXT_CLIENTS_CON}:</p></td>
					<td><p class="para">{CLIENTS_CON}</p></td>
				</tr>
				<tr valign="top">
					<td nowrap><p class="para">{TEXT_ADMINS_CON}:</p></td>
					<td><p class="para">{ADMINS_CON}</p></td>
				</tr>
				<tr valign="top">
					<td nowrap><p class="para">{TEXT_CHANNEL_COUNT}:</p></td>
					<td><p class="para">{CHANNEL_COUNT}</p></td>
				</tr>
				<tr valign="top">
					<td colspan="2"><p class="para">&nbsp;</p></td>
				</tr>
				<tr valign="top">
					<td nowrap><p class="para">{TEXT_VOICECODEC}:</p></td>
					<td><p class="para">{VOICECODEC}</p></td>
				</tr>
				<tr valign="top">
					<td nowrap><p class="para">{TEXT_VOICEFORMAT}:</p></td>
					<td><p class="para">{VOICEFORMAT}</p></td>
				</tr>
				<tr valign="top">
					<td colspan="2"><p class="para">&nbsp;</p></td>
				</tr>
				<tr valign="top">
					<td nowrap><p class="para">{TEXT_COMMENT}:</p></td>
					<td><p class="para">{COMMENT}</p></td>
				</tr>
			</table></td>
	</tr>
</table>
<p></p>
{SERVER_INFO_END} {SERVER_NOTICE_BEGIN}
<table align="center" class="server_notice">
	<tr>
		<td class="tdpadding">{NOTICE}</td>
	</tr>
</table>
<p></p>
{SERVER_NOTICE_END}
<table align="center" class="addniceborder">
	<tr>
		<td class="tdpadding"><table border="0" width="100%" cellspacing="0">
				<caption>
				{TEXT_CHANNEL_INFO}
				</caption>
				{CHANNEL_INFO_CONTENT}
			</table></td>
	</tr>
</table>
<p></p>
