<table width="0" border="0" align="center">
	{MENU;HORIZONTAL;}
</table>
<p></p>
{ERROR}
<table class="addniceborder" align="center">
	<caption>
	{TEXT_MANAGE_RESOURCES}
	</caption>
	<tr>
		<td class="tdpadding"><table border="0" width="100%">
				<tr>
					<th nowrap scope="col">{TEXT_RESOURCE_NAME}</th>
					<th nowrap scope="col">{TEXT_RESOURCE_DATA}</th>
					<th nowrap scope="col">{TEXT_RESOURCE_TYPE}</th>
					<th scope="col"></th>
					<th scope="col"></th>
				</tr>
				{RESMAN_CONTENT}
			</table>
	</tr>
</table>
<p></p>
