{ERROR} {FINISH_BEGIN}
<form action="install.php?step={NEXTSTEP}" method="post" name="finish_install">
	<table width="100%" class="addniceborder" align="center">
		<tr>
			<td class="tdpadding"><table width="100%">
					<tr>
						<td width="100%"><p class="para justify">{TEXT_FINISH_LARGE}<br />
&nbsp;</p></td>
					</tr>
					<tr>
						<td nowrap align="center">{TEXT_HIDDEN_VARIABLES}
							<input name="updsetting" type="submit" value="{TEXT_FINISH}"></td>
					</tr>
				</table></td>
		</tr>
	</table>
</form>
<p></p>
{FINISH_END}
