{ERROR}
<form action="admin.php" method="post" name="flogin" id="flogin">
	<table class="addniceborder" align="center">
		<caption>
		{TEXT_LOGIN}
		</caption>
		<tr>
			<td class="tdpadding"><table width="100%">
					<tr>
						<th width="30%"><p align="left" class="para">{TEXT_USERNAME}:</p></th>
						<td width="70%"><p align="left" class="para">
								<input name="fusername" type="text" id="fusername" size="30" class="textline">
							</p></td>
					</tr>
					<tr>
						<th><p align="left" class="para">{TEXT_PASSWORD}:</p></th>
						<td><p class="para" align="left">
								<input name="fpasswd" type="password" id="fpasswd" size="30" class="textline">
							</p></td>
					</tr>
					<tr>
						<td colspan="2"><p align="center" class="para">
								<input name="login" type="submit" id="login" value="{TEXT_LOGIN}">
							</p></td>
					</tr>
				</table></td>
		</tr>
	</table>
</form>
